{{define "subject"}}[{{ .siteName }}] {{ .title }}{{end}}

{{define "body"}}
<p>{{ translate "email.new_post.text" (dict "userName" (.userName | stripHtml) "title" (.title | stripHtml) "postLink" .postLink) | html }}</p>
<div style="margin:24px 0;padding:16px 20px 2px 20px;background-color:#1f2937;border-radius:4px;">{{ .content }}</div>
{{ if .postURL }}
<div style="margin:28px 0;"><a href="{{ .postURL }}" style="display:inline-block;padding:10px 20px;background-color:#f9fafb;color:#111827;text-decoration:none;border-radius:4px;font-weight:500;font-size:13px;line-height:1;">{{ "email.button.view_post" | translate }}</a></div>
{{ end }}
{{end}}

{{define "notice"}}<p style="font-size:12px;color:#6b7280;margin:0 0 12px 0;">{{ translate "email.footer.subscription_notice3" (dict "view" .view "change" .change) | html }}</p>{{end}}
